@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@50;100;200;300;400;500;600;700;800;900&display=swap');


body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100vh;
  font-family: 'Poppins', sans-serif;
  background-image: url('https://wallpapercave.com/wp/wp8148965.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
	height: 100%;

}

.title{
  top: 20px;
  position: relative;
  font-size: 30px;
  font-weight: 600;
  text-align: center;
  align-self: center;
  color: #FFFFFA;
  text-transform: uppercase;
}

table{
  top: 90px;
  position: absolute;
  width: auto;
  text-align: center;
  background: rgba(18, 11, 59, 0.44);
  color: white;
  border-collapse: collapse;
  table-layout: fixed;
  margin-left: 15%;
}

table, tr, td{
  font-size: 22px;
  transition-property: color, background;
  transition: 0.3s ease;
  overflow: auto;
  height: 70px;
  width: 525px;
}

td.hvr{
  background: #454261;
  border-radius: 0px;
  color: #white;
}

td.hvr:hover{
  background: #FBC8CD;
  color: #423241;
  border-radius: 40px;
}

td.mhvr{
  background: #454261;
  color: #white;
  text-decoration: none;
}

td.mhvr:hover{
  background: #FBC8CD;
  color: #423241;
}


tr:nth-child(1){
  font-weight: bold;
  background: rgba(0, 1, 23, 0.4)
}

tr:nth-child(2){
  font-weight: 500;
  background: rgba(0, 1, 33, 0.25);
}
